<div class="hero-unit">
	<h1> Welcome to CrowdFunder! </h1>
	<br>
<div class="row">	
	<p class="span5 home-subheader"> A total rip-off of Kickstarter</p> <a class="pull-right btn btn-inverse btn-large" <%= link_to "Get Started Today!", new_user_path %> </a>
</div>	

</div>